<!DOCTYPE html>
<html>
<head>
    <title>Trapeze method</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div class="container" ng-app="trapeze">
    <div class="row" ng-controller="controller as foo">
        <form>
            <input type="text" placeholder="y(x)" ng-model="foo.dep"/>
            <button ng-click="foo.build(foo.dep)">Build!</button>
        </form>
        <div class="center-block col-md-1">
            {{foo.var}}
        </div>
    </div>
</div>
<canvas id="canvas" height="450" width="600" style="width: 600px; height: 450px;"></canvas>
</body>
</html>
